<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="im.qingtui.multiprocesssp.lib">

    <application>

        <meta-data
            android:name="SP_Provider_Author"
            android:value="${applicationId}.multi.provider.sp"/>
        <provider
            android:name="im.qingtui.multiprocesssp.lib.SharedPreferencesProvider"
            android:authorities="${applicationId}.multi.provider.sp"
            android:exported="false"/>
    </application>
</manifest>
